<header id='header' class='outer'>
  <nav class='left-nav'>
    <a class='main-nav-link' href='<%- url_for('/') %>'>
      <img src='http://dropsinn.s3.amazonaws.com/face.jpg' alt='Face image' />
      Ian Sinnott
    </a>
  </nav>
  <div class='nav-menu'
    data-event-handler='mouseenter:openNav,mouseleave:closeNav'
    data-target='.hidden-nav'>
    <nav class='hidden-nav'>
      <button
        class='toggle'>
        Menu
      </button>
      <a href='<%- url_for('/') %>'>
        <i class="fa fa-home"></i>
        Home
      </a>
      <a href='<%- url_for('/archives') %>'>
        <i class="fa fa-file-archive-o"></i>
        Archive
      </a>
      <a href='<%- url_for('/tags') %>'>
        <i class="fa fa-tags"></i>
        Tags
      </a>

      <hr />

      <a href="https://www.iansinnott.com/" class='tooltip' data-tooltip='blog'>
        <i class="fa fa-flag"></i>
        Site
      </a>
      <a href="https://twitter.com/ian_sinn">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
      <a href="https://github.com/iansinnott">
        <i class="fa fa-github"></i>
        GitHub
      </a>

      <div class='face'>
        <img src='http://dropsinn.s3.amazonaws.com/face2.jpg' alt='Hand drawn face' />
        <h3>Oh Hai</h3>
      </div>
    </nav>
  </div>
</header>
