<header id='header' class='outer'>
  <nav class='left-nav'>
    <a class='main-nav-link' href='<%- url_for('/') %>'>
      <img src='https://dropsinn.s3.amazonaws.com/face.jpg' alt='Face image' />
      Ian Sinnott
    </a>
  </nav>
  <div class='nav-menu'>
    <nav class='hidden-nav'>
      <button
        data-event-handler='touchstart:toggle,click:toggle,touchend:preventDefault'
        data-target='.hidden-nav'
        class='toggle'>
        <div class='burger'>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <a href='<%- url_for('/') %>'>
        <i class="fa fa-home"></i>
        Home
      </a>
      <a href='<%- url_for('/archives') %>'>
        <i class="fa fa-list-ul"></i>
        Archive
      </a>
      <a href='<%- url_for('/tags') %>'>
        <i class="fa fa-tags"></i>
        Tags
      </a>

      <hr />

      <a href="https://www.iansinnott.com/">
        <i class="fa fa-flag"></i>
        Site
      </a>
      <a href="https://twitter.com/ian_sinn">
        <i class="fa fa-twitter"></i>
        Twitter
      </a>
      <a href="https://github.com/iansinnott">
        <i class="fa fa-github"></i>
        GitHub
      </a>

      <div class='face'>
        <img src='https://dropsinn.s3.amazonaws.com/face2.jpg' alt='Hand drawn face' />
        <h3>Hello</h3>
      </div>
    </nav>
  </div>
</header>
