// -- ---- ---- ---- ---- ---- ---- ---- ----
// Mixins
// -- ---- ---- ---- ---- ---- ---- ---- ----
$blue: #57A3E8;
$black: #3A4145;

$desktop-break: 1000px;
$tablet-break: 600px;
$mobile-break: 400px;

// Mobile should be the default, so there should be little reason to use
// for(mobile).
@mixin for($media) {
  @if $media == desktop {
    @media only screen and (min-width: $desktop-break) { @content }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet-break) { @content }
  } @else if $media == mobile {
    @media only screen and (min-width: $mobile-break) { @content }
  }
}

// Apply styles for all widths above $width
@mixin at-least($width) {
  @media only screen and (min-width: #{$width}px) { @content }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -- ---- ---- ---- ---- ---- ---- ---- ----
// General Styles
// -- ---- ---- ---- ---- ---- ---- ---- ----
body {
  height: 100%;
  max-height: 100%;
  font-family: $font;
  font-size: 20px;
  line-height: 1.6em;
  color: $black;
}

::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: $header-font;
}

a {
  color: #4a4a4a;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  &:hover {
    text-decoration: none;
  }
}

.post a {
  font-weight: bold;
  text-decoration: underline;
}
.post-title a {
  transition: color 0.2s ease;
  text-decoration: none;
  &:hover { text-decoration: none }
}

%cta {
  text-decoration: none;
  background: lighten($blue, 30%);
  color: lighten($black, 30%);
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: auto;
  text-align: center;
  &:hover {
    color: white;
    background: $blue;
  }
}

a.more {
  @extend %cta;
  margin-top: 1.6rem;
  @include for(tablet) {
    display: inline-block;
    text-align: left;
  }
}

a:hover {
  color: #57A3E8;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #50585D;
}


p, ul, ol {
  margin: 1.6em 0;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}

.footer {
  p.copyright {
    color: silver;
  }
}

%container {
  max-width: 38rem;
  min-width: 320px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @extend %container;
}

// -- ---- ---- ---- ---- ---- ---- ---- ----
// Masthead
// -- ---- ---- ---- ---- ---- ---- ---- ----
#masthead {
  min-width: 320px;
  background: transparent;
  $text-shadow: 0 1px 3px rgba(0,0,0,0.15);
  padding: 1.6rem 1rem;
  margin-bottom: 1.6rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  .masthead-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    display: block;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: 4;
    box-shadow: inset 0 0 1em black;
    @include for(tablet) {
      background-attachment: fixed;
    }
  }

  img, h2, h3, a {
    position: relative;
    z-index: 5;
  }

  // Avatar
  img.avatar {
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    display: block;
    margin: 1.6rem auto 0;
  }

  h2, h3, a {
    color: white;
    margin: 1.6rem 0;
  }

  h2 {
    font-size: 3rem;
    text-shadow: $text-shadow;
  }

  h3 {
    text-shadow: $text-shadow;
    font-family: $font;
    font-weight: 400;
  }

  // The header on individual posts, not the index page.
  .masthead-title-small {
    font-size: inherit;
    text-align: left;
    margin: 0;
    a {
      position: relative;
      line-height: 1;
      text-shadow: none;
      font-size: 30px;
      padding-left: 70px;
      color: $black;
      span {
        display: none;
        pointer-events: none;
      }
      @include at-least(400) {
        cursor: pointer;
        span {
          pointer-events: auto;
          display: inline-block;
        }
      }
    }
    img.avatar-small {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -5px;
      margin: 0;
      margin-right: .8rem;
      width: 50px;
      box-shadow: 0 0px 1px rgba(0,0,0,.8);
    }
  }

}

#masthead.post-head {
  #super-toggle {
    span {
      background: $black;
      box-shadow: none;
    }
  }
}

// This holds everything that is visible by default. Slides left to make room
// for the menu when necessary.
section#wrap {
  transition: left 0.3s ease-out;
  position: relative;
  left: 0;
}

// -- ---- ---- ---- ---- ---- ---- ---- ----
// Mobile Nav Menu
// -- ---- ---- ---- ---- ---- ---- ---- ----

// THe hamburger
#super-toggle {
  display: block;
  position: absolute !important;
  top: 0;
  right: 1.6rem;
  width: 40px;
  span {
    display: block;
    height: 6px;
    background: white;
    margin-top: 7px;
    box-shadow: 1px 0 1px black;
    border-radius: 2px;
    &:first-child { margin-top: 0px;}
  }
}

// The nav. Hidden by default.
#super-nav {
  $gray: #525762;
  $gray-hover: #575C68;
  $off-white: #D6DBE0;
  $text-shadow: 0 1px 0px black;
  $width: 200px;

  background: $gray;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -$width;
  z-index: 6;
  width: $width;
  transition: right 0.3s ease-out; // Animate the menu when shown
  &:after {
    content: '';
    background: transparent;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    box-shadow: 2px 0px 2px darken($gray, 20%);
  }

  .menu {
    z-index: 5;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      position: relative;
      transition: none;
      font-family: $header-font;
      font-weight: 300;
      color: $off-white;
      padding: 15px 25px;
      display: block;
      text-shadow: $text-shadow;
      border-top: 1px solid lighten($gray, 10%);
      border-bottom: 1px solid darken($gray, 10%);
      i {
        margin-right: .8rem;
      }
      &:hover, &:active {
        border-top: none;
        padding-top: 16px;
        background: $gray-hover;
        color: white;
        box-shadow: inset 0 0px 2px darken($gray, 10%);
      }
    }
    li:first-child a:before, li:last-child a:after {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      height: 1px;
      background: darken($gray, 10%);
    }
    li:last-child a:after {
      top: auto;
      bottom: -2px;
      background: lighten($gray, 10%);
    }
  }

}
