.Post
  max-width 700px

.meta
  p
    display inline-block
    +below(360px)
      display block
      margin-bottom .5em
      &.middot
        display none

.timeToRead
.date
  font-family 'Helvetica Neue', Helvetica, sans-serif
  opacity .6

.PostNav
  a
    &:not(:last-child)
      margin-right 10px
