<section class='dev'>
  <div class='env'>
    <h2>Env</h2>
    <div class='code-block'>
      <%- markdown('```js\n' + JSON.stringify(env, null, 2) + '\n```') %>
    </div>
  </div>

  <hr />

  <aside class='widgets'>
    <%- partial('_widget/tagcloud') %>

    <hr />

    <%- partial('_widget/recent_posts') %>
  </aside>
</section>


