.Bio
  margin-bottom 1.5rem
  background white
  box-shadow 0 0 0 1px #ddd, 0 0 5px 3px rgba(0,0,0,.2)
  padding .8rem

.links
  a
    display inline-block
    text-decoration none
    font-size 1.1rem
    transition all 0.2s ease-out
    transform scale(1) translateY(0px)
    &:hover
      transform scale(1.1) translateY(-4px)
    &:first-child
      margin-right 2rem

    i
      margin-right .6rem
