black = #333
blue = #3F51B5

.BlogPostListItem
  margin-bottom 10px
  a
    text-decoration none
    color blue
    &:hover
      text-decoration underline

.date
  color black
  display inline-block
