black = #333
blue = #3F51B5

.BlogPostListItem
  margin-bottom 10px

  a
    text-decoration none
    color blue
    &:hover
      text-decoration underline

.date
  color black
  display inline-block

.postsByYear
  position relative
  padding-left 30px
  padding-bottom 30px
  margin-bottom 20px
  &:before
    content ''
    width 1px
    background #ddd
    left 10px
    position absolute
    top 0
    bottom 40px

  &:after
    content '•••'
    display block
    position absolute
    color #ddd
    left 50%
    bottom 0
    transform translateX(-50%)

.year
  position absolute
  top 0
  left 0
  transform rotate(-90deg) translate(-50%,-50%)
  line-height 1
  z-index 1
  &:after
    content ''
    display block
    position absolute
    top 0
    left -8px
    right @left
    bottom 0
    background white
    z-index -1
