
.ParrotTwitterLink
  text-decoration none
  font-family monospace
  display: flex
  justify-content: center
  align-items: center

  img 
    display none
    transform translate(-10px, -3px)

  &:hover
    i 
      display none
    img 
      display block

  img
  i 
    margin-right: 10px
    