<% page.posts.each(post => { %>
  <%- partial('article', { post, index }) %>
<% }) %>
<% if (page.total > 1){ %>
<nav id="page-nav">
  <%- paginator({
    prev_text: `&laquo; ${__('prev')}`,
    next_text: `${__('next')} &raquo;`
  }) %>
</nav>
<% } %>
