image-height = 50px

.mainHeader
  position relative
  padding-left image-height + 10px // Making room for img

.face
  border-radius 50%
  height image-height
  width @height
  display block
  position absolute
  top 50%
  left 0
  transform translateY(-50%)
