image-height = 50px
wider = 600px

@keyframes rainbow
  from
    color: red
  15%
    color: lime
  30%
    color: blue
  45%
    color: teal
  60%
    color: yellow
  75%
    color: pink
  90%
    color: white
  to
    color: red
  



body
  +above(wider)
    font-size 1.2rem

  a
    &:hover
      text-decoration: underline
      animation rainbow 0.6s step-start infinite
    span
      animation none
      color #3F51B5
      text-decoration: none

@keyframes waves 
  from 
    transform: translateY(0%) rotate3d(1,0,0,90deg)
  to
    transform: translateY(0%) rotate3d(1,0,0,0deg)

.Header
  position relative
  background: linear-gradient(to top, rgba(166, 239, 239, 0.54), rgba(166, 239, 239, 0.14))
  perspective 200px
  
  svg
    left 50%
    right 0
    top: calc(100% + -8px)
    position absolute
    transition all 0.2s ease
    transform translate(-50%, 50%) scale(1)


  a
    text-decoration: none
    &:hover
      text-decoration: none

.mainHeader
  position relative
  padding-left image-height + 10px // Making room for img

  h1 
    font-size: 20px
    a
      color: #222

    +above(wider)
      font-size 2rem

.face
  border-radius 50%
  height image-height
  width @height
  display block
  position absolute
  top 50%
  left 0
  transform translateY(-50%)
  border 1px solid #008080

.links
  position absolute
  right 20px
  top 50%
  transform translateY(-50%)

  +above(wider)
    a
      &:not(:last-child)
        margin-right 1rem

