.red {
  color: red;
}
.teal {
  color: teal;
}
.blue {
  color: blue;
}
.gray {
  color: gray;
}
.brown {
  color: brown;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.purple {
  color: purple;
}
.pink {
  color: pink;
}
.yellow_background {
  background: yellow;
}
.orange_background {
  background: orange;
}
.purple_background {
  background: purple;
}
.red_background {
  background: red;
}
.teal_background {
  background: teal;
}
.blue_background {
  background: blue;
}
.gray_background {
  background: gray;
}
.brown_background {
  background: brown;
}
.pink_background {
  background: pink;
}
.bold {
  font-weight: bold;
}

.toggle {
  margin-bottom: 1.45rem;
  background: #e9f0ff;
  padding: 5px;
  border-radius: 3px;
}

.toggle:hover {
  background: hsla(221, 100%, 92%, 1);
}

.toggle input[type='checkbox'] {
  padding-left: 5px;
  appearance: none;
  outline: none;
  cursor: pointer;
  vertical-align: top;
}

.toggle .toggle-title {
  display: inline-block;
  width: calc(100% - 25px);
  cursor: pointer;
}

.toggle input[type='checkbox']:before {
  content: '▶';
  font-size: 14px;
  width: 20px;
  display: block;
}
.toggle input[type='checkbox']:checked:before {
  content: '▼';
}
.toggle .toggle-body {
  margin-top: 1.45rem;
}
.toggle input:checked ~ .toggle-title {
  color: #3f51b5;
}
.toggle input ~ .toggle-body {
  display: none;
  padding-left: 25px;
  padding-right: 5px;
}
.toggle input:checked ~ .toggle-body {
  display: block;
}
