section.dev
  margin-top 40px
  margin-bottom 40px

  h2
  hr
    margin-top 20px
    margin-bottom 20px
  h2
    font-size 32px
    color #666

.code-block
  background #333
  color #bebebe
  padding 10px
  border-radius 3px

.widget-wrap
  margin-bottom 40px

  .widget
    li
      margin-bottom 10px
