black = #2d2d2d
menu-bg = color-footer-background
hover-state()
  &:hover
    transform translateX(0)

    .face
      opacity 0.6
      &:hover
        opacity 1

#header
  height 60px

  .main-nav-link
    position relative
    text-shadow none
    font-size 30px
    padding-left 70px
    color #3A4145
    text-decoration none
    line-height 60px

    img
      display inline-block
      position absolute
      border-radius 50%
      left 0
      top -5px
      margin 0 .8rem 0 0
      width 50px
      padding 3px
      box-shadow 0 0 1px rgba(0,0,0,.8)

  .main-nav
    display flex
    aligh-items center
    a
      display block
      line-height 50px

  .toggle
    reset-button()
    display flex
    align-items center
    position absolute
    top 0
    left 0
    padding-top 5px
    font-size 24px
    text-transform uppercase
    transform translateX(-99%)
    color black
    pointer-events none
    opacity 0
    @media mq-mobile
      opacity 1
      pointer-events all

  .text
    margin-right 10px

  .burger
    width 50px
    height @width
    padding 10px
    background menu-bg
    display flex
    flex-direction column
    justify-content space-around
    border-radius 5px 0 0 5px
    cursor pointer
    span
      display block
      width 100%
      height 3px
      border-radius 5px
      background darken(white, 40%)

  .hidden-nav
    tween()
    position fixed
    right 0
    top 0
    bottom 0
    background menu-bg
    width 200px
    transform translateX((@width * .7))
    z-index 4
    @media mq-mobile
      transform translateX(100%)
    @media mq-not-mobile
      hover-state()
    &.open
      hover-state()

    hr
      border none
      border-bottom 1px solid #4d4d54

    a
      display block
      font-size 1rem
      text-align left
      padding 15px 0
      padding-left 70px
      color #cbcbcb
      position relative
      text-decoration none
      &:hover
        background #37373b
        color white
        i
          transform translateY(-50%) scale(1.2)


      i
        position absolute
        top 50%
        left 25px
        transform translateY(-50%)

  .face
    tween('opacity')
    opacity 0
    position absolute
    bottom 20px
    left 50%
    transform translateX(-50%)
    text-align center
    color #D6DBE0
    font-size 24px
    img
      border-radius 50%
      display block
      margin 0 auto
      margin-bottom 20px
      border 3px solid @color

