black = #2d2d2d
_t = 0.8s cubic-bezier(0, 0, 0.25, 1)

reset-button()
  appearance none
  outline none
  background transparent
  border none

#header
  height 60px

  .main-nav-link
    position relative
    text-shadow none
    font-size 30px
    padding-left 70px
    color #3A4145
    text-decoration none
    line-height 60px

    img
      display inline-block
      position absolute
      border-radius 50%
      left 0
      top -5px
      margin 0 .8rem 0 0
      width 50px
      padding 3px
      box-shadow 0 0 1px rgba(0,0,0,.8)

  .main-nav
    display flex
    aligh-items center
    a
      display block
      line-height 50px

  .toggle
    position absolute
    top 0
    left 0
    padding-right 30px
    padding-top 10px
    padding-bottom 10px
    font-size 32px
    text-transform uppercase
    transform translateX(-100%)
    color black
    reset-button()
    &:after
      content ''
      position absolute
      top 50%
      right 0
      transform translateY(-50%)
      border-right 20px solid @color
      border-top 20px solid transparent
      border-bottom 20px solid transparent


  .hidden-nav
    position fixed
    right 0
    top 0
    bottom 0
    background #2d2d2d
    transform translateX(100%)
    transition transform _t
    width 50%
    max-width 300px
    &.open
      transform translateX(0)

    hr
      border none
      border-bottom 1px solid #4d4d54

    a
      display block
      text-align center
      padding 15px 0
      color #cbcbcb
      position relative
      text-decoration none
      &:hover
        background #37373b
        color white
        i
          transform translateY(-50%) scale(1.2)


      i
        position absolute
        top 50%
        left 10%
        transform translateY(-50%)

  .face
    position absolute
    bottom 20px
    left 50%
    transform translateX(-50%)
    text-align center
    color #D6DBE0
    font-size 24px
    img
      border-radius 50%
      display block
      margin 0 auto
      margin-bottom 20px
      border 3px solid @color

