.tag-archive
  margin-top 20px
  display flex
  flex-wrap wrap
  justify-content space-between

  .tag
    width (93 / 3)%
    display block
    padding 10px
    margin-bottom 15px
    background white
    border 1px solid #ddd
    font-weight bold
    color #333
    text-decoration none
    border-radius 3px
    transition padding-left 0.2s ease
    &:hover
      background darken(white, 2%)
      padding-left 15px
    @media mq-tablet
      width (96 / 2)%
    @media mq-mobile
      width 100%
